<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.server">

    <application
        android:name=".ServerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.FirstAndroid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.server.custom.provider"
            android:name=".servers.CustomContentProvider"
            android:exported="true"
            android:process=":customprovider"
            android:enabled="true" />

        <provider
            android:authorities="com.example.server.device_info.provider"
            android:name=".servers.DeviceInfoProvider"
            android:exported="true"
            android:enabled="true" />

        <provider
            android:authorities="com.example.server.book.provider"
            android:name=".servers.BookContentProvider"
            android:exported="true"
            android:enabled="true" />

        <service android:name=".servers.TestService" android:exported="true" android:enabled="true">

        </service>

        <service android:name=".servers.PersionService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.server.PersionService"/>
            </intent-filter>
        </service>

    </application>

</manifest>